.note-nav-container {

    .note-nav-body {
        z-index: 1000;
        position: fixed;
        top: 8.1%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 100%;

        // FOLDER PANEL
        .folder-pannel-container {
            border: solid black 0.1em;
            grid-column: 1/3;
            background-color: rgb(24, 20, 24);

            // FOLDER HEADER
            .note-editor-header {
                top: 0;
                height: 2em;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                // font-size: 1em;
                background-color: rgb(34, 29, 34);

                button {
                    margin-top: 0.2em;
                    margin-left: 0.2em;
                    background-color: transparent;
                    border: none;
                    color: white;

                }

                p {
                    font-size: clamp(0.6rem, 0.8em, 1.1rem);
                    font-weight: bold;
                    color : rgb(211, 211, 211);
                }
            }
        }
        /////////////////

        // NOTE PANEL
        .note-editor-container {
            border: solid black 0.1em;
            grid-column: 3/7;
            transition: grid-column 0.5s ease;
            background-color: rgb(17, 14, 17);
            color: white;

            // NOTE HEADER
            .note-editor-header {
                top: 0;
                height: 2em;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                // font-size: 1em;
                background-color: rgb(34, 29, 34);

                button {
                    margin-top: 0.2em;
                    margin-left: 0.2em;
                    background-color: transparent;
                    border: none;
                    color: white;
                }

                .close-icon {
                    cursor: pointer;
                    background-color: rgb(24, 20, 24);
                    &:hover {
                        color: rgb(179, 179, 179);
                    }
                }

                p {
                    font-size: clamp(0.6em, 0.8em, 1.1rem);
                    color : rgb(211, 211, 211);
                    margin-left: 0.4em;
                    font-weight: bold;
                }
            }
        }
        /////////////////

    }
}