.note-nav-container {

    .note-nav-body {
        z-index: 1000;
        position: fixed;
        top: 7%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;

        @media (max-width: 700px) {
            & {
                top : 8%
            }
        }

        @media (max-width : 400px) {
            & {
                top: 10%;
            }
        }


        /* when there is more than one item */
        &:has(> *:nth-child(2)) {
            grid-template-columns: 1fr 4fr;
        }

        // FOLDER PANEL
        .folder-pannel-container {
            border: solid black 0.1em;
            background-color: rgb(24, 20, 24);


            // FOLDER HEADER
            .note-editor-header {
                top: 0;
                height: 2em;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                // font-size: 1em;
                background-color: rgb(34, 29, 34);

                button {
                    margin-top: 0.2em;
                    margin-left: 0.2em;
                    background-color: transparent;
                    border: none;
                    color: white;

                }

                p {
                    font-size: clamp(0.6rem, 0.8em, 1.1rem);
                    font-weight: bold;
                    color : rgb(211, 211, 211);
                }

                .add-folder-btn {
                    cursor : pointer;
                    font-weight: bold;
                    border-radius: 1em;
                    padding: 0.2em;
                    background-color: azure;
                    color : black;

                    &:hover {
                        background-color: rgb(184, 184, 184);
                    }

                }
                
            }
        }
        /////////////////

        // NOTE PANEL
        .note-editor-container {
            border: solid black 0.1em;
            transition: grid-column 0.5s ease;
            background-color: rgb(17, 14, 17);
            color: white;
            display: flex;
            flex-direction: column;
            max-width: 100vw;

            // NOTE HEADER
            .note-editor-header {
                top: 0;
                height: 2em;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                // font-size: 1em;
                background-color: rgb(34, 29, 34);

                button {
                    margin-top: 0.2em;
                    margin-left: 0.2em;
                    background-color: transparent;
                    border: none;
                    color: white;
                }

                .close-icon {
                    cursor: pointer;
                    background-color: rgb(24, 20, 24);
                    &:hover {
                        color: rgb(179, 179, 179);
                    }
                }

                p {
                    font-size: clamp(0.6em, 0.8em, 1.1rem);
                    color : rgb(211, 211, 211);
                    margin-left: 0.4em;
                    font-weight: bold;
                }
            }
        }
        /////////////////

    }
}