/* FULLSCREEN OVERLAY */
.center-modal {
  position: fixed;
  inset: 0;                 /* top:0, left:0, width:100vw, height:100vh */
  background: rgba(0, 0, 0, 0.6);
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1500;
}

/* ACTUAL MODAL BOX */
.delete-modal {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 90vw;

  .big-h2 {
    font-size: 1em;
    margin-bottom: 0.25em;
  }

  .tiny-h2 {
    font-size: 1em;
    margin-bottom: 1.5em;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      padding: 1em;
      border-radius: 1em;
      border: none;
      cursor: pointer;
    }
  }
}



.connection-modal {
  background-color: white;
  padding: 1.4rem;
  border-radius: 12px;
  border: 1px solid black;

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 90vw;

  .big-h2 {
    align-self: flex-start;
    font-size: clamp(0.8em, 1em, 2em);
    margin-bottom: 0.25em;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .tiny-h2 {
    font-size: 1em;
    margin-bottom: 1.5em;
  }

  p {
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1em;
  }

  .exit-btn {
    width: 5em;
    padding: 1em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
  }

  ul {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    
    .connection-li {
      margin-top: 0.4em;
      margin-bottom: 0.4em;
      text-align: start;
      list-style: none;
      text-wrap-mode:wrap;

      .connection-li-container {
        font-size: 1.0em;
        display: flex;
        flex-direction: row;

        p {
          margin-right: 1em;
          font-weight: 600;
        }

        button {
          color : white;
          font-weight: bold;
          width: fit-content;
          padding: 0.2em;
          border-radius: 0em;
          border: none;
          cursor: pointer;
          background-color: red;

          &:hover {
            scale : 1.2
          }


        }

        
      }


    }
        


  }
      .note {
          margin-top: 2em;
          margin-bottom: 1em;
          font-size: 1em;
          color : rgb(151, 151, 151);

        }

}