.tutorial-modal {
    color: white;
    background-color: rgb(2, 63, 53);
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    h1 {
        font-style: italic;
    }


    // SCROLL BAR
    /* firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #3a3a3a #000000;
    }

    /* chrome, edge, safari */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #000000;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #181818;
        /* greyish-black */
        border-radius: 8px;
        border: 2px solid #000000;
        /* blends into track */
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #272727;
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: #292929;
    }



    // HEADER
    .modal-header {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        background-color: rgba(4, 95, 80, 0.158);
        margin-right: 0;
        position: absolute;
        


        p {
            font-size: 1.4em;
            margin-left: 0.2em;
            font-weight: bold;
            cursor: default;
        }


        button {
            color: white;
            background-color: transparent;
            border: none;

            &:hover {
                cursor: pointer;
                color: rgb(185, 185, 185);
            }


        }

    }


    // TABLE OF CONTENTS

    .table-of-cont {
        margin-left: 1em;
        margin-top: 5em;

        h1 {
            font-size: 1.4em;
        }

        .section-container {
            display: flex;
            flex-direction: column;

            p {
                margin-top: 0.6em;
                margin-bottom: 0.6em;
                margin-left: 4em;
                font-size: 1.1em;
                font-weight: 300;
                display: list-item;
                list-style-type: disc;
                cursor: pointer;

                &:hover {
                    color: purple
                }
            }
        }
    }


    // SIDE DROPPEr

    .side-dropper {
        margin-top: 5em;

        h1 {
            font-size: 1.4em;
        }

        .images-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1em;
            margin-left: 1em;

            img {
                border: solid black 0.1em;
                width: 20em;
                height: 10em;
            }



        }

        .open-place {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .label {
                color: rgb(146, 146, 146);
                font-size: 0.8em;
            }


            video {
                border: solid black 0.1em;
                height: 20em;
            }


        }
    }


    .grid-items {
        margin-top: 5em;
        margin-left: 1em;

        h1 {
            font-size: 1.4em;
        }


        .item-container {
            margin-left: 4em;
            margin-top: 2em;
            margin-bottom: 4em;
            background-color: rgb(2, 63, 53);

            h2 {
                font-size: 1.2em;
                text-decoration: underline;
                display: list-item;
                list-style-type: disc;

            }


            .section-1 {
                margin-top: 2em;
            }


        }
    }

    .note-navigator {
        margin-left: 1em;
        margin-top: 5em;
        margin-bottom: 3em;

        h1 {
            font-size: 1.4em;
        }

        .folder-section {
            margin-left: 2em;

            h1 {
                margin-left: -1em;
                margin-top: 1em;
                font-size: 1.2em;
                font-weight: 700;
            }
        }

        .vid-1 {
            width: 40em;
        }

        .markdown-container {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;

            .highlight {
                background-color: rgb(53, 53, 1);
                color: white;
            }

            .bold {
                font-weight: bold;
            }

            .italic {
                font-style: italic;
            }

            .header {
                font-size: 1.2em;
                font-weight: bold;
            }




            svg {
                border: solid, 0.1em, black;
                background-color: grey;
            }



            .markdown-item {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;
                justify-items: center;

                h4 {
                    text-decoration: underline;
                }

            }

            .indent-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-items: auto;
                width: min-content;
                gap: 2em;

            }

        }


    }


}