@use './accounts' as *;
@use './home' as *;
@use './scrollbar';
@use './modals' as *;
@use './navbar' as *;
@use './workspace' as *;

// Grid
@use './grid/grid' as *;
@use './grid/grid-mobile' as *;
@use './grid/grid-desktop' as *;

// Side Dropper
@use './side_dropper/side-dropper' as *;
@use './side_dropper/side-dropper-mobile' as *;
@use './side_dropper/side-dropper-desktop' as *;


/* Import a clean UI font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Reset and box sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base html and body setup */

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #1e1e1e;
  min-height: 100vh;
}

button, a, * {
  -webkit-tap-highlight-color: transparent;
}