@use './accounts' as *;
@use './home' as *;
@use './scrollbar';
@use './modals' as *;
// tutorial modal
@use './tutorial_modal' as *;
@use './navbar' as *;
@use './workspace' as *;

// Grid
@use './grid/grid' as *;
@use './grid/grid-mobile' as *;
@use './grid/grid-desktop' as *;

// Zoom Btns
@use './zoom_btns' as *;

// Side Dropper
@use './side_dropper/side-dropper' as *;
@use './side_dropper/side-dropper-mobile' as *;
@use './side_dropper/side-dropper-desktop' as *;

// Note Navigator
@use './note_navigator/note_navigator_header' as *;
@use './note_navigator/note_navigator_parts_headers' as *;
@use './note_navigator/note_navigator_body_folder' as *;
@use './note_navigator/note_editor/note_editor' as *;
@use './note_navigator/note_editor/markup' as *;
@use './note_navigator/note_editor/note-pannel' as *;

// mobile item preview btns
@use './mobile_item_preview_btns' as *;

// Grid item
@use './mobile_preview_item' as *; // mobile only btw
@use './highlight' as *;

// timer 
@use './gridItems/timer/timer-number-picker' as *;
@use './gridItems/timer/timer' as *;
// tracker 
@use './gridItems/Tracker/tracker' as *;
// tracker input & output
@use './gridItems/Tracker/connections' as *;
// sticky note
@use './gridItems/sticky_notes/sticky_notes' as *;
// table
@use './gridItems/table/table' as *;


/* Import a clean UI font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');



/* Reset and box sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base html and body setup */

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #1e1e1e;
  min-height: 100vh;
}

button, a, * {
  -webkit-tap-highlight-color: transparent;
}