
.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    height: 25em;
    width: 15em;

    .swap-btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        .swap-btn {
            border: none;
            font-size: 1em;
            cursor: pointer;
            background-color: rgb(209, 201, 201);
            width: 100%;

            &:hover {
                background-color: rgb(255, 162, 162);
            }
        }

        .swap-btn-inactive {
            border: none;
            font-size: 1em;
            background-color: rgb(145, 144, 144);
            width: 100%;
        }



    }

    .timer-child {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
    }


    // btns
    .start-timer-btn {
        font-size: 1em;
        font-weight: bold;
        margin-top: 6em;
        width: 75%;
        border: none;
        border-radius: 2em;
        padding: 1em;
        background-color: rgb(179, 179, 179);
        cursor: pointer;

        &:hover {
            background-color: rgb(213, 214, 210);
            scale: 1.1;
        }
    }


}

/// countdown btns
.countdown-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    button {
        font-weight: bold;
        margin: 1em;
        font-size: 1em;
        border-radius: 2em;
        border: none;
        padding: 1em;
        background-color: rgb(179, 179, 179);

        &:hover {
            background-color: rgb(213, 214, 210);
        }

    }

}
.exit-timer-btn {
    font-weight: bold;
    background-color: rgb(255, 51, 51);
    font-weight: bold;
    margin: 1em;
    margin-top: 2em;
    font-size: 1em;
    border-radius: 2em;
    border: none;
    padding: 1em;
    width: 20%;

    &:hover {
        background-color: rgb(255, 0, 0);
        scale : 1.2
    }


}