
.note-list-container {
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(158, 158, 158);
  position: relative; // ✅ to allow absolute toolbar

  .note-toolbar-container {
    background-color: rgb(126, 126, 126);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em; 
    display: flex;
    align-items: center;
    z-index: 10;

    .add-note-btn {
      margin-left: 0.5em;
      width: 5%;    
      text-align: center;
      color: white;
      background-color: black;
      border-radius: 10em; 
      font-size: em;

        &:hover {
            scale : 1.1;
        }

    }

    .delete-note-btn {
      border : none;
      margin-left: 70%;
      width: 5%;    
      text-align: center;
      color: white;
      background-color: rgb(136, 13, 13);
      border-radius: 10em; 
      font-size: em;

        &:hover {
            scale : 1.1;
        }
    }

    .navigate-note-btn {
        display : flex;
        align-items: center;
        flex-direction: row;
        margin-left: 0.5em;
        font-size: 0.8em;
        background-color: black;
        color : white;
        border-radius: 30%; 

        .navigate-left-btn { 
            padding-left: 0.1em;
            margin-right: 0.4em;
            font-size: 0.8em;

            &:hover {
                color : rgb(167, 167, 167);
            }
        }

        .navigate-right-btn { 
            padding-right: 0.1em;
            margin-left: 0.4em;
            font-size: 0.8em;
            
            &:hover {
                color : rgb(167, 167, 167);
            }
        }

    }

  }

  .note-list-item-container {
    width: 100%;
    height: 100%;
    padding-top: 3em; // ✅ match toolbar height
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    .create-note-btn{
        padding: 0.2em;
        font-size: 1em;
        font-weight: bold;
        border: none;

        &:hover {
            scale : 1.15;
        }
    }


  }
}


.note-parent-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
        align-self: center;
        font-size: 1.5em;
        font-weight: 525;
    }

        width: 100% ;
        .title {
            width: 100%;
            text-align: center;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1.3em;
            font-weight: 600;
        }


    /* for adding sticky pages*/
    .add-btn {
        margin-bottom: 1em;
        margin-top: auto;   /* pushes button to bottom */
        align-self: center;
        // justify-self :end;
        border-radius: 1em;
        font-size: 1em;
        font-weight: bold;
        padding: 0.6em;
        border :none;
        // position: absolute;

        &:hover {
            scale : 1.2;
            background-color: rgb(216, 213, 213);
        }


    }

}

.note-container {
    width: 100%; 
    margin-left:  0.2em;

  .line-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 0.5em;
    margin-bottom: 0.5em;


    .line-icon {
        padding : 0;
        margin : 0;
        grid-column: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor : pointer;
    }

    // text area
    .line-text {
        grid-column: 2 / 6;
        background-color:  rgb(158, 158, 158);
        border : none;
        font-size: 1em;
        width : 100%;
        resize: none;
        border: none;
        color: black;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;      

    }

    .line-dlt-btn {
        cursor: pointer;
        margin-right : 0.2em;
        grid-column: 6 / 7;
        background-color:  rgb(158, 158, 158);;
        border : none;
        color : red;

        &:hover {
            scale : 1.2;
        }

    }
  }
}
