
.note-list-container {
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(158, 158, 158);
  position: relative; // ✅ to allow absolute toolbar

  .note-toolbar-container {
    background-color: rgb(126, 126, 126);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em; 
    display: flex;
    align-items: center;
    z-index: 10;

    .add-note-btn {
      margin-left: 0.5em;
      width: 5%;    
      text-align: center;
      color: white;
      background-color: black;
      border-radius: 10em; 
      font-size: em;

        &:hover {
            scale : 1.1;
        }

    }

    .delete-note-btn {
      border : none;
      margin-left: 70%;
      width: 5%;    
      text-align: center;
      color: white;
      background-color: rgb(136, 13, 13);
      border-radius: 10em; 
      font-size: em;

        &:hover {
            scale : 1.1;
        }
    }

    .navigate-note-btn {
        display : flex;
        align-items: center;
        flex-direction: row;
        margin-left: 0.5em;
        font-size: 0.8em;
        background-color: black;
        color : white;
        border-radius: 30%; 

        .navigate-left-btn { 
            padding-left: 0.1em;
            margin-right: 0.4em;
            font-size: 0.8em;

            &:hover {
                color : rgb(167, 167, 167);
            }
        }

        .navigate-right-btn { 
            padding-right: 0.1em;
            margin-left: 0.4em;
            font-size: 0.8em;
            
            &:hover {
                color : rgb(167, 167, 167);
            }
        }

    }

  }

  .note-list-item-container {
    width: 100%;
    height: 100%;
    padding-top: 3em; // ✅ match toolbar height
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    .create-note-btn{
        padding: 0.2em;
        font-size: 1em;
        font-weight: bold;
        border: none;

        &:hover {
            scale : 1.15;
        }
    }


  }
}


.note-parent-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
        align-self: center;
        font-size: 1.5em;
        font-weight: 525;
    }

    form {
        width: 100% ;
        .title {
            width: 100%;
            text-align: center;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1.3em;
            font-weight: 600;
        }
    }


    /* for adding sticky pages*/
    .add-btn {
        margin-top: 27em;
        margin-bottom: 0;
        align-self:  center;
        justify-self :end;
        border-radius: 1em;
        font-size: 1em;
        font-weight: bold;
        padding: 0.6em;
        border :none;
        position: absolute;

        &:hover {
            scale : 1.2;
            background-color: rgb(216, 213, 213);
        }


    }

}

.note-area-container {
    display: flex;
    align-items: flex-start;

    justify-content: center;
    flex-direction: column;

    .note-area-item-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    } 

    .note-area-add-item-btn {
        border: none;
        padding: 0.5em;
        border-radius: 1em;
        background-color: ghostwhite;
        font-size: 0.8em;
        font-weight: 500;
        align-self: center;
        margin-bottom: 1em;
        margin-left: 5em;
        cursor: pointer; 

        &:hover {
            background-color: white;
        }
    }

}

.note-area-item{
    position: relative; // ✅ Add this line
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items:center;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 1em;

    /* bullet */
    p {
        margin-right: 0.4em;
        margin-left: 0.8em;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: 500;
        color: black;
    }

    /* checkbox / input */
    input {
        margin-right: 0.4em;
        margin-left: 0.8em;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: 500;
        color: black;     
        background-color: transparent;
    }

    textarea {
        background-color: transparent;
        resize: vertical;
        border: none;
        color: black;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        height: 100%;
        width: 19em;
        
        &:hover {
            background-color: transparent;
            border: none;
        }

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
            text-decoration: underline;
            background-color: transparent;
        }

        &::placeholder {
            color: rgb(68, 68, 68);
        }
    }

}

.note-area-item-delete-icon {
    position: absolute;
    align-self: center;
    left : -0.4em;
    top : 0.1em;
    background-color: transparent;

    // button {
    //     border: none;
    //     background-color: transparent;
    //     font-size: 1.2em;
    //     cursor: pointer;
    //     border-radius: 1em;

    //     .delete-icon {
    //         font-size: 0.5em;
    //         color: red;

    //         &:hover {
    //             color : black;
    //         }
    //     }

    // }

}