


.tracker-container {
    width : 20em;
    display:  grid;
    grid-template-rows: 1fr 4fr;


    .tracker-header {
        padding: 1em;
        display : flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(66, 66, 66);

        form {

            text-align: center;

            p {
                text-align: center;
                border : none;
                background-color: rgb(66, 66, 66);
                width: 50%;
                font-size: 2em;
          
            }            

            input {
                text-align: center;
                border : none;
                background-color: rgb(66, 66, 66);
                width: 50%;
                font-size: 2em;


                &:focus {
                    outline: none;
                    box-shadow: none;
                }

            }

        }


        button {
            cursor: pointer;
            border : none;
            padding: 0.1em;
            border-radius: 1em;
            color : black;
            font-weight: 900;
            background-color: white;
            font-size: 2em;

            &:hover {
                background-color: darken(white, 10%);
            }
        }




    }




    .tracker-body {
        align-items: center;
        justify-items: center;
        display : flex;
        background-color: rgb(97, 97, 97);
    }

}



/* TRACKER MENU BASE STYLING (ALL COMPONENTS HAVE THIS)*/

.tracker-menu-container {
    width: 95;
    background-color: rgb(83, 83, 83);
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;


    .tracker-menu-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            font-size: 0.7em;
        }

        

        button {
            cursor: pointer;
            font-size: 0.7em;
            font-weight: 500;
            background-color: grey;
            padding : 0.5em;
            border-radius: 1em;
            border: 1px, solid, black;
        
            &:hover {
                background-color: rgb(183, 184, 182)
            }
        }

        
    }


    .tracker-menu-content {
        display: grid;
        height: 95%;
        width: 95%;
        background-color: rgb(172, 172, 172);


        /* ADD BTN */
        .add-btn {
            position: absolute;
            border-radius: 1em;
            border : none;
            padding : 0.5em;
            font-size: 1em;
            font-weight: bold;
            align-self: center;
            margin-top: 170%;
            background-color: rgb(212, 240, 231);

        }



        /* timer menu */
        .timer-menu-container {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .tracker-menu-item-container {
                font-size: 0.9em;
                // display: flex;
                // flex-direction: row;
                display: grid;
                margin-left: 0.8em;
                grid-template-columns: 1fr 1fr 1fr;
                margin-top: 1em;
                margin-bottom: 1em;


                input {
                    background-color: rgb(175, 173, 173);
                    border: black 1px solid; 
                    margin-left: 0.4em;

                }

                button {
                    background-color: rgb(172, 172, 172);
                    // margin-left: 1.2em;
                    background-color: none;
                    border: none;
                    color: red;
                    font-size: 0.8em;
                    font-weight: bold;

                    &:hover {
                        scale: 1;
                    }

                }


            }

        } 




    }







}
