# test
# test
# test
name: Build and deploy Python app to Azure Web App - FlowGridBackend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # This stays only to catch syntax errors before deploy
      - name: Verify dependencies install locally (not used in deploy)
        run: pip install -r requirements.txt

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            backend/
            requirements.txt
            manage.py
            !**/venv/
            !**/antenv/
            !**/.python_packages/
            !oryx-manifest.toml

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_881365D999DC4CE1856B1A0AFB343F5C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0D95C4D5656D4AAF97D010932B314244 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7E1EDDC4369E412D9BB28A3797F42DA2 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "FlowGridBackend"
          slot-name: "Production"
