name: Build and deploy Python app to Azure Web App - FlowGridBackend

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # quick syntax check
      - name: Verify requirements install
        run: pip install -r requirements.txt

      # Upload your Django source code (not the virtual env)
      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            backend/
            backend/requirements.txt
            backend/manage.py
            !**/venv/
            !**/antenv/
            !**/.python_packages/
            !oryx-manifest.toml
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app
          path: ./deploy_source

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_881365D999DC4CE1856B1A0AFB343F5C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0D95C4D5656D4AAF97D010932B314244 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7E1EDDC4369E412D9BB28A3797F42DA2 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "FlowGridBackend"
          slot-name: "Production"
          package: ./deploy_source
