
.note-tab-container {
    display : flex;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;


    .note-tab-item {
        font-size: 1em;
        font-weight: bold;
        background-color: rgba(68, 64, 64, 0.055);
        display: flex;
        align-items: center;
        width: 100%;
        border-left: solid black 0.1em;
        border-right: solid black 0.1em;
        color : rgb(114, 109, 109);




        button {
            margin-left: auto;
            margin-right: 1em;
            justify-self: flex-end;
            border: none;
            background-color: transparent;
            color : white;
            cursor: pointer;

            &:hover {
                color: rgb(255, 216, 216);
                scale : 1.1;
            }

        }

        p {
            margin-left: 0.2em;
            justify-self: flex-start;
            cursor:pointer;
        }


        &.active {
            background-color: rgba(228, 223, 223, 0.055);
            color : rgb(173, 168, 168);
        }



    }

}